{% extends 'base.html' %}

{% block title %}  Useful Time {% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row main-text" style="margin-top: 20px">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex" style="justify-content: center; align-items: center;">
                <p class="display-1">Цель проекта</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <p class="card-text margin-top-20px">
                <ol>
                    <li>Повысить эффективность использования времени</li>
                    <li>Улучшение продуктивности сил и средств человека</li>
                    <li>Учёт "грязного" и полезного времени</li>
                    <li>Развитие самоконтроля</li>
                    <li>Формирование навыка многозадачности</li>
                </ol>
                </p>
            </div>

        </div>
        <hr>
        <div class="row d-flex" style="flex-direction: row-reverse;">
            <div class="col-sm-12 col-md-6 col-lg-4 d-flex" style="justify-content: center; align-items: center;">
                <p class="display-1">Идея</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <p class="card-text">Идея для проекта родилась спонтанно. Мы стали замечать, что во время
                    обучения в лицее мы часто отвлекаемся и поэтому не можем точно отследить какое количество
                    времени уходит на разработку. Именно поэтому мы решили написать сайт для того, чтобы
                    отслеживать какое количество времени мы уделяем на работу. Название данного проекта выбрано
                    неспроста, в оригинале звучит как "полезное время", что отражает основную цель нашего продукта.</p>
            </div>
        </div>
        <hr>

        <h1 class="display-1">Команда:</h1>
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home"
                        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Тагир
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Андрей
                </button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages"
                        type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Михаил
                </button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <blockquote class="blockquote">
                            <h5 class="display-6">Сахабиев Тагир</h5>
                            <footer class="blockquote-footer">Team Lead, Frontend, View Classes</footer>
                        </blockquote>
                        <div class="col-sm-12 col-md-3 col-lg-3 d-flex"
                             style="justify-content: center; align-items: center;">
                            <img src="{% static 'img/team/Tagir.jpg' %}" class="rounded-circle team-img ">
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <p>Работа над этим проектом показала, что быть лидером команды очень не просто. Нужно всегда
                                следить за тем, что каждый участник команды знает что и как ему нужно делать. Также мне
                                понравилось работать над лицевой частью проекта, но когда я окунался в бэк меня
                                затягивало гораздо больше. Поэтому фронт я трогать больше не буду.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="row">
                        <blockquote class="blockquote">
                            <h5 class="display-6">Выдра Андрей</h5>
                            <footer class="blockquote-footer">backend таймеров, фотошоп, QA</footer>
                        </blockquote>
                        <div class="col-sm-12 col-md-3 col-lg-3 d-flex"
                             style="justify-content: center; align-items: center;">
                            <img src="{% static 'img/team/Andrey.jpg' %}" class="rounded-circle team-img">
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <p>Я увлекаюсь backend разработкой, участвую в хакатонах и олимпиадах, люблю математику и
                                недолюбливаю физику :) Живу в городе на родном болоте (Санкт-Петербург), люблю походить
                                по музеям и погулять по прочим местам со своими друзьями.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="row">
                        <blockquote class="blockquote">
                            <h5 class="display-6">Крюков Михаил</h5>
                            <footer class="blockquote-footer">Планирование семантической модели, backend проектов
                            </footer>
                        </blockquote>
                        <div class="col-sm-12 col-md-3 col-lg-3 d-flex"
                             style="justify-content: center; align-items: center;">
                            <img src="{% static 'img/team/Misha.jpg' %}" class="rounded-circle team-img">
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <p>Писать код - это тоже своего рода творчество: cозерцание приходит в момент
                                непосредственно успешного решения задачи)) В нашем проекте очень повезло, что мы
                                находимся в разных часовых поясах, иначе проблема с временными сдвигами, осталась бы
                                незамеченной. В свободное время люблю кататься на электросамокате </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}