{% extends 'base.html' %}

{% block title %}  Useful Time {% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">
        Удалить таймер
    </button>
    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление таймера</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверенны, что хотите удалить таймер?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Оставить</button>
                    <input class="btn btn-danger" type="submit" value="Удалить таймер" name="record_delete">
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-outline-danger" type="submit" value="Изменить таймер" name="record_edit">
</form>
{% endblock %}