{% load filters %}
<a class="btn btn-primary" href="/records/add?next={{ request.path }}">Создать новый таймер</a>
<div class="row d-flex justify-content-around" style="flex-direction: row-reverse">
    {% for record in records reversed %}
        <div class="col-sm-12 my-3">
            <a href="/records/{{ record.id }}" class="item">
                {% if project %}
                    <div class="card" style="width: 100%; border: solid {{ project.color }}">
                {% else %}
                    <div class="card" style="width: 100%; border: solid {{ record.project.color }}">
                {% endif %}

                <div class="card-header">
                    {{ record.name }}
                </div>
                <div class="card-body">
                    <p class="timepoint" data-time="{{ record.startpoint.isoformat }}">Время
                        начала: {{ record.startpoint }}</p>
                    {% if record.is_end == 0 %}
                        <p class="timepoint" data-time="{{ record.endpoint.isoformat }}">Время
                            конца: {{ record.endpoint }}</p>
                        <p class="counter_stop" data-time="{{ record.longitude }}" data-id="{{ record.id }}"></p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ record.id }}">
                            <input class="btn btn-success" type="submit" value="Возобновить таймер"
                                   name="continue_timer">
                        </form>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <p class="counter" data-time="{{ record.longitude }}"
                               data-id="{{ record.id }}"></p>
                            <input type="hidden" name="id" value="{{ record.id }}">
                            <input class="btn btn-danger" type="submit" value="Остановить таймер" name="stop_timer">
                        </form>
                    {% endif %}
                </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>