<div class="accordion" id="accordionProjects">
    {% for project in projects %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{forloop.counter}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{forloop.counter}}"
                    aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                {{project.name}}
            </button>
        </h2>
        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
             aria-labelledby="heading{{forloop.counter}}">

            <div class="accordion-body">
                {% if project.records.all %}
                <h1 class="display-6">Статистика всех записей проекта:</h1>
                {%include 'includes/diogramm.html'%}
                {% endif %}
                <hr>
                <input>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>