<div class="row d-flex justify-content-center">

    {% for sub_record in sub_records %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-3 my-1">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Продолжительность: {{ sub_record.get_front_longitude }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Начало: {{ sub_record.startpoint|time:"H:i"}}</li>
                    <li class="list-group-item">Окончание: {{ sub_record.endpoint|time:"H:i"}}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>