<div class="card_container my-5">
    <div class="card" style="width: 500px">
        <div class="card-header">
            <h5 class="display-6">{{ message }}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <ol>
                            {% for error in field.errors %}
                                <li><strong>{{ error|escape }}</strong></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <div class="fieldWrapper">
                        <div class="d-flex justify-content-between my-2">
                            {% if field.name == "color" %}
                                <input type="color" id="id_color" name="color"
                                       value="{{ field.value }}">
                                <label for="head">Цвет проекта</label>
                            {% else %}
                                {{ field.label_tag }} {{ field }}
                            {% endif %}
                        </div>
                        <div class="form-text">
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Продолжить">
            </form>
        </div>
    </div>
</div>