{% extends 'base.html' %}

{% block title %}  Useful Time {% endblock %}

{% block content %}
    {% load static %}
    <form method="post">
        {% csrf_token %}
        {% for field in project_form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p>{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="добавить">
    </form>
{% endblock %}