.category_name {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #8398E4;
}

.item-img {
    height: 300px;
    width: 400px;
}

input {
    margin: 5px;
}

.form_alert {
    display: flex;
    justify-content: center;
}

.card_container {
    display: flex;
    justify-content: center;
}

a.item {
    color: #000 !important;
    text-decoration: none
}

.user_card{
    height: 300px;
}
#footer{
    margin-top: 300px;
}